.back_to_top {
  position: fixed;
  bottom: 130px;
  right: 20px;
  z-index: 200;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;

  background: #f5f5f5;
  color: var(--modal-text-color);
  cursor: pointer;
  border-radius: 15px;
  display: none;
}

.back_to_top:hover {
  background: var(--accent-text-color);
}

.back_to_top-show {
  display: block;
}
